msa-rpc4j-spring/src/main/resources/META-INF/msa-rpc4j.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.microcmpt.com/schema/msa-rpc4j" targetNamespace="http://www.microcmpt.com/schema/msa-rpc4j"
            elementFormDefault="qualified">
    <xsd:element name="server">
        <xsd:complexType>
            <xsd:attribute name="port" type="xsd:string" />
            <xsd:attribute name="registry" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="service">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="interface" type="xsd:string" use="required"/>
            <xsd:attribute name="ref" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="registryAddress" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="interface" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>